/* base layout */
.container {
  display: flex;
  flex-direction: column;  
  align-items: center;
  gap: 2rem;
  padding: 2rem 4rem;
}

.item {
  text-align: center;
}

/* logo image */
.logo {
  border-radius: 5%;
  width: 150px;
  height: auto;
}

/* name and alias */
.name-container {
  display: flex;
  flex-direction: column;  
}

.name {
  font-size: 2em;
  font-weight: bold;
}

.alias {
  font-style: italic;
}

/* quote */
.quote-container {  
  display: flex;
  flex-direction: column;  
  align-items: flex-end;
}

/* description */
.desc {
  text-align: justify;
  max-width: 50rem;
}

/* tech stack */
.tech-stack-container {
  display: flex;
  flex-direction: column;  
  gap: 0.5rem;
}

.tech-stack-title {
  font-size: 1.5em;
  font-weight: bold;
}

.tech-list {
  display: grid; 
  grid-template-columns: min-content max-content; 
  gap: 1em 0.5em; 
  justify-content: center; 
  justify-items: start; 
  border: 1px dashed;
  min-width: 15rem;
  padding: 1em 0em;
}

.tech-icon {
  width: 1.5rem;
  height: 1.5rem;
}

/* certs */
.certs-container {
  display: flex;
  flex-direction: column;  
  gap: 0.5rem;
}

.certs-title {
  font-size: 1.5em;
  font-weight: bold;
}

.certs-list {
  display: flex; 
  flex-direction: row;  
  flex-wrap: wrap;
  border: 1px dashed;
  justify-content: center;
  gap: 1em;
  padding: 1em;
}

.certs-item {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: max-content min-content min-content;
  gap: 0.5em 0em;
  grid-auto-flow: row;
  grid-template-areas:
    "."
    "."
    ".";
  justify-items: center;
  align-content: space-between;
  max-width: 15rem;
  text-decoration: none;
}

.certs-image {
  width: 105px;
  height: 105px;
}

.certs-name {
  font-weight: bold;
}

.certs-issuer {
  font-size: small;
  font-style: italic;
}
