<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/devicon.min.css">

  <link rel="stylesheet" type="text/css" href="https://ember.cocatrip.xyz/global.css" />
  <link rel="stylesheet" type="text/css" href="css/index.css" />

  <title>{{ .Title }}</title>

  <meta property="og:title" content="{{ .Config.Title }}" />
  <meta property="og:type" content="website" />
  <meta property="og:image" content="{{ .Config.Logo }}" />
  <meta property="og:description" content="{{ .Config.Desc }}" />
</head>

<div class="container">

  <img class="item logo" src="{{ .Config.Logo }}">

  <div class="item name-container">
    <a href="#">
      <div class="name">{{ .Config.Name }}</div>
    </a>
    <div class="alias">{{ .Config.Alias }}</div>
  </div>

  <div class="item quote-container">
    <div class="quote">
      <q>{{ .Config.Quote.Text }}</q>
    </div>
    <div class="author">
      &mdash; {{ .Config.Quote.Author }}
    </div>
  </div>

  <div class="item desc">{{ .Config.Desc }}</div>

  <div id="tech-stack" class="item tech-stack-container">
    <a class="tech-stack-title" href="#tech-stack">Tech Stack</a>

    <div class="tech-list">
      {{ range .Config.TechStack }}
      <img class="tech-icon" src="{{ .Url }}" />
      <div class="tech-name">{{ .Name }}</div>
      {{ end }}
    </div>
  </div>

  <div id="certs" class="item certs-container">
    <a class="certs-title" href="#certs">Licenses & Certification</a>

    <div class="certs-list">
      {{ range .Config.Certs }}
      <a class="certs-item" href="{{ .Url }}">
        <img class="certs-image" src="{{ .Image }}">
        <div class="certs-name">{{ .Name }}</div>
        <div class="certs-issuer">{{ .Issuer }}</div>
      </a>
      {{ end }}
    </div>
  </div>

  <footer>
    <div id="social" class="item social-container">
      <a class="social-title" href="#social">Social Media</a>

      <div class="social-list">
        {{ range .Config.SocialMedia }}
        <a class="social-item" href="{{ .Url }}">
          <img class="social-icon" src="{{ .Icon }}">
          <div class="social-user">{{ .User }}</div>
        </a>
        {{ end }}
      </div>
    </div>
  </footer>
</div>
