<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/devicon.min.css">

  <link rel="stylesheet" type="text/css" href="https://ember.cocatrip.xyz/global.css"/>
  <link rel="stylesheet" type="text/css" href="css/index.css"/>

  <title>{{ .Title }}</title>
</head>

<div class="container">

  <img class="item logo" src="{{ .Logo }}">

  <div class="item name-container">
    <a href="#">
      <div class="name">{{ .Name }}</div>
    </a>
    <div class="alias">{{ .Alias }}</div>
  </div>

  <div class="item quote-container">
    <div class="quote">
      <q>{{ .Quote.Text }}</q>
    </div>
    <div class="author">
      &mdash; {{ .Quote.Author }}
    </div>
  </div>

  <div class="item desc">{{ .Desc }}</div>
  
  <div id="tech-stack" class="item tech-stack-container">
    <a class="tech-stack-title" href="#tech-stack">Tech Stack</a>

    <div class="tech-list">
      {{ range .TechStack }}
      <img class="tech-icon" src="{{ .Url }}" />
      <div class="tech-name">{{ .Name }}</div>
      {{ end }}
    </div>
  </div>

  <div id="certs" class="item certs-container">
    <a class="certs-title" href="#certs">Licenses & Certification</a>

    <div class="certs-list">
      {{ range .Certs }}
      <div class="certs-item">
        <img class="certs-image" src="{{ .Image }}">
        <div class="certs-name">{{ .Name }}</div>
        <div class="certs-issuer">{{ .Issuer }}</div>
      </div>
      {{ end }}
    </div>
  </div>
</div>
