<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/devicon.min.css">

  <link rel="stylesheet" type="text/css" href="css/index.css"/>

  <title>{{ .Title }}</title>
</head>
<body>
    <div id="avatar">
      <img src="{{ .Avatar }}">
    </div>

    <h1 id="name">{{ .Name }}</h1>
    <p id="alt-name">{{ .Alias }}</p>

    <figure id="quote">
      <blockquote>
        <q>{{ .Quote.Text }}</q>

        <span>
          &mdash; {{ .Quote.Author }}
        </span>
      </blockquote>
    </figure>

    <p id="desc">{{ .Desc }}</p>

    <h2 id="tech-stack"><a href="#tech-stack">Tech Stack</a></h2>
    <table id="tech-stack-table">
      {{ range .TechStack }}
      <tr>
        <td><p id="tech-name"><img id="tech-icon" src="{{ .Url }}" /> {{ .Name }}</p></td>
      </tr>
      {{ end }}
    </table>

    <h2 id="certs"><a href="#certs">Licenses & Certification</a></h2>
    <table id="certs-table">
      <tr>
        <td>
        {{ range .Certs }}
          <div id="certs-cards">
            <img id="certs-image" src="{{ .Image }}">

            <span id="certs-name">{{ .Name }}</span>

            <div id="certs-issuer">{{ .Issuer }}</div>
          </div>
        {{ end }}
        </td>
      </tr>
    </table>

    <a href="#" id="back-to-top">&#9650</a>
</body>

</html>
